.sideDrawer{
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    width: 250px;
    max-width: 70%;
    z-index: 1000;
    display: flex;
    flex-flow: column;
    transition: 0.5s all ease-in;
    background-color:rgba(202, 73, 13, 0.527);
    box-sizing: border-box;
    
}

.open{
    transform: translateX(0);
    border: 1px solid black;
    border-radius: 20px;
    background-color:rgba(202, 73, 13, 0.795);
}

.close{
    transform: translateX(-100%);
    background-color:rgba(202, 73, 13, 0.308);
}